/site/.DS_Store
/site/node_modules
/site/dist


# local env files
.env.local
.env.*.local

# Log files
/site/npm-debug.log*
/site/yarn-debug.log*
/site/yarn-error.log*
/site/pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
